/api_key.txt
/api_key1.txt
/copilot垃圾
/debug
/debug1
/debug2
/debug3
/default.idf
/Energy+.idd
/energyplus 遍历.py
/energyplus.exe
/generated_cases
/in.idf
/optimization_logs
/optimization_results
/optimization_logs_并行5
/optimization_results_并行5
/optimization_logs_并行2
/optimization_results_并行2
/optimization_plot
/optimization_plot_并行5
/optimization_plot_并行2
/optimization_logs_并行2_web
/temp_files
/weather.epw
/__pycache__
/模拟课-单次LLM-成功
/模拟课大作业-郁哲轩.pptx
/基准.log
/分成多个python文件的代码
/.web_runtime
/debug_web
/main无早停.py
/web无早停.py
/weather
/各城市迭代结果
/中期之前的一些结果